@import 'tailwindcss';

@theme {
  --color-system-blue: #275bf6;
  --color-system-blue-dark: #1a4ad5;
  --color-system-orange: #fbcfc4;
  --color-system-orange-dark: #a0c9d1;
}
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #888888 #e0e0e0;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555555;
  }
}
